.margin {
    margin-top: 1rem;
}

.color {
    color: red;
}

.centrar {
    text-align: center;
}

.fondo {
    background-image: url(../img/patitas.jpg);
    background-size: cover;
}

.fondo-blanco{
    margin-top: 1rem;
    background-color: white;
    border: 2px solid rgb(160, 32, 32);
    border-radius: 25px;
}


.lado-derecho {
    text-align: right;
    margin-right: 2rem;
}

.titulo{   
    text-align: center;
    margin-top: 1rem;
    color: rgb(255, 0, 0);
}

.parrafo{
    margin-top: 2rem;
    color: rgb(36, 31, 31);
}

.imagen {
    margin: 2rem 2rem 2rem 2rem;;
    width: 250px;
    height: 150px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(2, 253, 2);
    border: 2px solid rgb(8, 248, 28);
}

.izquierda {
    padding-left: 1rem;
}

.imagen-gato {
    margin: 2rem 2rem 2rem 2rem;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(38, 0, 255);
    border: 2px solid rgb(0, 60, 255);
}

.imagen-gato-centrado {
    margin: 2rem 2rem 2rem 2rem;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(38, 0, 255);
    border: 2px solid rgb(0, 60, 255);
}

.texto{
    display: inline-block;
    vertical-align: top;
  }

  .imagen-float {
    float: left;
  }