.margin {

    margin-top: 1rem;
}

.centrar {

    text-align: center;
}

.fondo {

    background-color: rgb(245, 231, 214);
}

.titulo{
    
    text-align: center;
    margin-top: 1rem;
    color: red;
}

.parrafo{

    margin-top: 2rem;
    color: rgb(36, 31, 31);
}

.imagen {

    margin: 2rem 2rem 2rem 2rem;;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(2, 253, 2);
    border: 2px solid rgb(243, 82, 82);
    
}

.izquierda {

    padding-left: 1rem%;
}

.content{
    display: flex;
}

.left .rigth{
    display: inline-block;
}

.content-img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
  }

.border-black{
    border-color: black;
    border-style: solid;
}

.margin-row{
    margin-top: 2rem;
}