.margin {
    margin-top: 1rem;
}

.centrar {
    text-align: center;
}

.fondo {
    background-image: url(../img/patitas.jpg);
    background-repeat: repeat;
}

.fondo-blanco{
    margin-top: 1rem;
    background-color: white;
    border: 2px solid rgb(160, 32, 32);
    border-radius: 25px;


}


.lado-derecho {
    text-align: right;
    margin-right: 2rem;
}

.titulo{   
    text-align: center;
    margin-top: 1rem;
    color: black;
}

.parrafo{
    margin-top: 2rem;
    color: rgb(36, 31, 31);
}

.imagen {
    margin: 2rem 2rem 2rem 2rem;;
    width: 250px;
    height: 150px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(2, 253, 2);
    border: 2px solid rgb(243, 82, 82);
    
}

.izquierda {
    padding-left: 1rem;
}

.boton {
    background-color: ;
}